{% extends "base.html.twig" %}

{% block body %}
{% block navbar %}{{ parent() }}{% endblock %}

<section>
<div class="level-selector-page">
    <header class="level-header">
        <h1>ACCESS_ROOMS</h1>
    </header>

    <div class="room-grid">
        <a href="#" class="room-btn">
            <span class="room-num">01</span>
            <span class="room-meta">ACTIVE</span>
        </a>
        <a href="#" class="room-btn">
            <span class="room-num">02</span>
            <span class="room-meta">ACTIVE</span>
        </a>
        <a href="#" class="room-btn">
            <span class="room-num">03</span>
            <span class="room-meta">ACTIVE</span>
        </a>
        <a href="#" class="room-btn">
            <span class="room-num">04</span>
            <span class="room-meta">ACTIVE</span>
        </a>
        <a href="#" class="room-btn">
            <span class="room-num">05</span>
            <span class="room-meta">ACTIVE</span>
        </a>
        <a href="#" class="room-btn">
            <span class="room-num">06</span>
            <span class="room-meta">ACTIVE</span>
        </a>
        <a href="#" class="room-btn">
            <span class="room-num">07</span>
            <span class="room-meta">ACTIVE</span>
        </a>
    </div>
</div>
</section>
{% endblock %}