{% extends "base.html.twig" %}


{% block body %}
{% block navbar %}{{ parent() }}{% endblock %}

<div class="login-wrapper">
    <div class="login-card">
        <h2 class="login-title">
            <span style="color: #00ff9d;">&gt;</span> AUTH_REQUIRED
        </h2>


        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey }}</div>
        {% endif %}
        
        <form method="post">
            <div class="mb-3">
                <label for="username">Operator ID</label>
                <input type="text" id="username" name="_username" class="form-control" placeholder="username..." required>
            </div>

            <div class="mb-3">
                <label for="password">Access Key</label>
                <input type="password" id="password" name="_password" class="form-control" placeholder="••••••••" required>
            </div>

             <button type="submit" class="ctf-btn">
                Initialize Session
            </button>
        </form>

        <h4 class="sign-up-text">
            Don't have an account ? <a href="{{ path('signin') }}">Sign Up Here</a>
        </h4>
    </div>
</div>
{% endblock %}
