{% extends "base.html.twig" %}

{% block navbar %}{{ parent() }}{% endblock %}

{% block menu %}
<section class="menu">
    <div class="container container-fluid button-container">
        <div class="row">
            <div class="col-12 d-grid gap-5">
                <a href="{{ path('difficulty', {'difficulty': 'easy'}) }}" class="link"><button class="btn w-25 mx-auto level-selection">Easy Rooms</button>
                <a href="{{ path('difficulty', {'difficulty': 'medium'}) }}" class="link"><button class="btn w-25 mx-auto level-selection">Medium Rooms</button>
                <a href="{{ path('difficulty', {'difficulty': 'hard'}) }}" class="link"><button class="btn w-25 mx-auto level-selection"> Hard Rooms</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}